/* Landing page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.landing {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
}
.logo-2{
  padding-top: 2em;
}
.phone {
  position: relative;
  padding: 0 1em;
  width: 88%;
}
/* value
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.value {
  text-align: center;
}
.value h1 {
  font-weight: 300;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 2.5em;
  margin: 0 auto;
  padding: 1rem 0;
} 



.center {
  text-align: center;
}
dl {
  margin-left: 1rem;
}

/* Bigger than 35 */
@media (min-width: 35rem) {
  .landing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .phone {
    width: 100%;
  }
}
/* Bigger than 768px */
@media (min-width: 48rem) {
  .phone {
    padding-right: 2em;
  }
  .bgimage {
    padding: 3em 0;
  }
  .landing-bg {
    position: relative;
    top: -0.5em;
  }
}

/* Bigger than 960px */
@media (min-width: 60rem) {
  .landing {
    grid-template-columns: 1.5fr 1fr;
  }
  .landing-bg {
    position: relative;
    top: -4em;
  }
  .phone {
    padding: 0;
    margin-bottom: -2rem;
  }
}
/* Bigger than 1280px */
@media (min-width: 80rem) {
  .form-col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
}
