/* .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
} */


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: rgba(0, 0, 0, 0.7); */
    border: 1px solid blue;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 90;
    /* margin-left: 25px;
    margin-right: 25px; */
    overflow: auto;

    background-color: rgba(53, 12, 12, 0.95);
    text-align: center;
    padding: 10px;
}

.overlay h2 {
    font-family: 'Courier New', Courier, monospace;

}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 20px auto;
    padding: 20px;
    /* background: var(--nc-tbg-2); */
    background-color: #06D85F;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 99;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    color: blue;
}


.spread {
	/* max-width: 30rem; */
	height: 5rem;
	font-size: 3rem;
}

/* @media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
} */