fieldset {
	margin: 0;
	padding: 1rem;
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
}

legend {
	padding: auto .5rem;
}
textarea,
select,
input {
	padding: 6px 12px;
	margin-bottom: .5rem;
	/* background: var(--nc-bg-2); */
	color: black;
	border: 1px solid var(--nc-bg-3);
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}

.button,
a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-size: 1rem;
	display: inline-block;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	background: var(--nc-lk-1);
	color: var(--nc-lk-tx);
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	color: var(--nc-lk-tx);
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
	cursor: default;
	opacity: .5;

	/* Set the [X] cursor while hovering a disabled link */
	cursor: not-allowed;
}

.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type="submit"]:focus,
input[type="submit"]:enabled:hover,
input[type="reset"]:focus,
input[type="reset"]:enabled:hover,
input[type="button"]:focus,
input[type="button"]:enabled:hover {
	background: var(--nc-lk-2);
}
/* Register Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.register {
    border: 1px solid rgb(199, 199, 199);
  }
  
  .register input[type=text], 
  .register input[type=email], 
  .register input[type=tel], 
  textarea {
    display: block;
    border: 1px solid grey;
    border-radius: .2em;
    width: 100%;
    padding: .5em;
    margin: .3em 0;
  /*  box-shadow:inset 2px 3px 5px rgb(167, 166, 166);*/
  }
  .register input[type=text]:focus,
  .register input[type=email]:focus, 
  .register input[type=tel]:focus, 
  textarea:focus {
    border: 2px solid var(--nc-lk-1);
}


.buy-button {
    background-color: gold;
}
